*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.iteam-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background-color: gainsboro;
    width: 95%;
    height: 50px;
    margin: 12px;
}

.category{
    display: flex;
    width: 95%;
    margin: 0px 12px 0 12px;
}

.category-a{
    color: black;
    font-weight: 500;
}
.category-a:first-child{
    margin-right: 45px;
}
.category-a:hover{
    text-decoration: none;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Katalog{
    width: 100%;
    margin: 12px;
}

.Katalog h1{
    font-size: 22px;
}

.iteam-list{
    max-width: 100%;
    margin-top: 20px;
    font-weight: bold;
}

.iteam-list:last-child{
    margin-bottom: 20px;
}

.iteam-list img{
    width: 100%;
}

.iteam-list div,span {
    margin-top: 15px;
}

.iteam-list:hover{
    opacity: .4;
}

.btn-block{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
    height: 200px;
    padding: 24px;
}
.btn-block button{
    height: 60px;
    font-size: 20px;
    background-color: beige;
    border: none;
    box-shadow: inset;
    font-weight: 600;
    cursor: pointer;
}

@media screen and (min-width:1280px){
    .header{
        display: flex;
        justify-content: space-between;
        padding: 40px;
        flex-direction: unset;
        min-width: 1280px;
    }

    .iteam-logo{
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        background-color: gainsboro;
        width: 300px;
        height: 50px;
        margin: 0;
    }

    .category{
        width: fit-content;
    }

    .Katalog-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .Katalog h1{
        font-size: 28px;
        margin-left: 33px;
    }

    .iteam-list{
        margin: 24px 24px 0 0;
        max-width: 380px;
    }

    .iteam-list:nth-child(3n+3){
        margin-right: 0;
        margin-bottom: 0;
    }
    .iteam-list img{
        width: 380px;
    }
    .btn-block{
        align-items: center;
    }

    .btn-block button{
        width: 200px;
    }
}

@media screen and (min-width:1600px){
    .iteam-list{
        max-width: 500px;
    }
    
    .iteam-list img{
        width: 500px;
    }
}