<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/index.css">
    <title>Лабараторная работа №7</title>
</head>
<body>
   <div id="add">
      <header class="header">
        <div class="logo">
            <img src="./material/BlogLogo.png" alt="">            
        </div>
        <div class="menu">
            <img src="./material/Union.png" alt="">
         </div>
        <nav class="navbar">
            <a href="#open_modal" class="navbar-login">
                <img src="./material/Profile.png" alt=""><span>Войти</span></a>
            <a href="#" class="navbar-reg">Зарегистрироваться</a>
        </nav>
    </header> 
    
    <main class="main">  
     <div class="overlay hidden">
        <section class="modal hidden">
            <header class="header-pole">
            <div class="header-modal">
                <div class="h3-modal">
                    <h3>Вход</h3>              
                </div>
                <span class="close-modal">
                    <button class="btn-close">
                        <img src="./material/Close Icon.png" alt="">
                    </button>
                </span>            
            </div>
        </header>
            <div class="form">
              <form action="" method="post" class="form-modal">
                <div class="login">
                    <label for="login_id">Логин</label>
                    <input type="text"name="login" id="login_id" required pattern="[a-zA-Z@+-_]+" minlength="5" maxlength="150">
                </div>
                <div class="pass">
                    <label for="pass_id">Пароль</label>
                    <input type="password" name="pass" id="pass_id">
                </div>
                <div class="btn-modal">
                    <button type="submit">Войти</button>
                    <a href="#" class="quecion">Забыли пароль?</a>
                </div>
              </form>
            </div>
            </section>
        </div>
        <div class="main-post">
            <div class="main-post-second">
                <div class="second-publish">
                    <div class="main-post-first">
                    <h1 class="post-first">
                        Последние публикации
                    </h1>
                </div>  
            <div class="second-post">
                                     
                <div v-for="post in main_data" class="iteam">
                    <img v-bind:src="post.image" alt="">
                        <div class="text-item">
                          <div class="first-text">
                            <h3 >{{post.title}}</h3>
                            <p >{{post.intro}}</p> 
                          </div>                              
                        <div class="item-category">
                           <span v-for="category in post.labels" 
                           class="category-select">{{category}}</span>
                        </div>                        
                    </div>
                </div>         
            </div>
                <button class="second-button">Загрузить ещё 6</button>
            </div>
                <div class="second-category">
                    <h3 class="second-h3">
                        Рубрики
                    </h3>
                    <ul class="second-ul">                        
                        
                            <li class="second-li">
                                <a href="/" class="category">Обучение</a>
                            </li>
                            <li class="second-li">
                                <a href="/" class="category">Карьера</a>
                            </li>
                            <li class="second-li">
                                <a href="/" class="category">Figma</a>
                            </li>
                            <li class="second-li">
                                <a href="/" class="category">Консоль</a>
                            </li>
                            <li class="second-li">
                                <a href="/" class="category">Git</a>
                            </li>
                            <li class="second-li">
                                <a href="/" class="category">Новости</a>
                            </li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="footer-url">
            <a href="#" class="footer-a">Об авторе</a>
            <a href="#" class="footer-a">Технологии</a>
        </div>
        <div class="footer-info">
            <span>@ Blog, 2022</span>
        </div>
    </footer>
</div>
    <script src="./js/axios.min.js.map"></script>
    <script src="./js/axios.min.js"></script>
    <script src="./js/vue.min.js"></script>
    <script src="./js/modal.js"></script>
</body>
</html>
   